.slider{background-color:#232f3e;}
.slider img{width: 100%; background-size: cover;}
.logo img{height:100px; padding: 15px 0px 10px 60px; cursor:pointer;}
.logo{float: left;}
.navbar1 {float: right;}
.navbar1 {padding: 25px 40px 0px 0px}
.navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  .navbar1 li {
    float: left;
  }
  
  .navbar1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 35px 16px 66px;
    text-decoration: none;
  }

  /* contact button */
  div#wpcs_tab_44229 {
    border: 1px solid;
    border-bottom: none;
    cursor: pointer;
    width: 170px;
    height: 34px;
    overflow: hidden;
    background: #58595b;
    color: #ffffff;
    padding: 2px 0px 2px 0px;
    position: fixed;
    top: 200px;
    right: -68px;
    text-align: center;
    transform: rotate(
-90deg
);
    z-index: 9999999;
    font-size: 18px;
}

div.wpcs_tab {
  font-weight: 300;
  padding: 5px 0px 16px 0px!important;
  height: 60px!important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 140px!important;
  border: 0px!important;
}

/* login button */
.loginbtn{color: #2874f0;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  padding: 0px 40px;
  border: 1px solid #dbdbdb;
}



  /* .navbar li a:hover {
    background-color: #111;
  } */



 /* product category */

 /* .product_category{cursor: pointer;}
 .product_category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232f3e;
  }
  
  .product_category li {
    float: left;
    padding: 0px 0px 0px 80px;

    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .product_category li :hover {
    cursor: pointer;
    background-color: #111;
  } */

  /* product category */
  .mynav .anch{margin: 0px 0px 0px 65px; font-weight: bold; cursor: pointer;}
  /* .mynav .anch:hover{background-color: #111;} */
  .dropdown-item{cursor: pointer;}
  /* .dropdown-item .sort:hover{background-color: red;;} */
/* dom css */

  .product_img img{height: 250px; padding: 21px; float: left; width: 25%;}
  .product_img img:hover{height: 250px; padding: 25px; float: left; width: 25%; cursor: pointer;}
  
  .child1{float: left;  padding: 21px; width: 25%;}
  .child1 h1{color:#FFA41C}
  .child1 h5{color:#C94F04}

  
  .clear{clear:both;}
  /* footer css */
  .footer{padding: 0px 0px 75px 0px ; text-align: center; font-weight: bold; background-color: #172337; cursor: pointer;}
  .footer .ft1{margin-top: 11px; float: left; color: white; width: 30%;}
  .footer .ft2{margin-top: 20px;text-align: center; font-weight: bold; color: white; float: left; width: 40%;}
  .footer .ft3{margin-top: 11px;float: left; color: white; width: 30%; }
